/* src/components/NavBar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #ff662e;  /* Cor de fundo ajustada para #ff662e */
  color: white;
  font-family: Arial, sans-serif;
}

.navbar .logo img {
  width: 120px;  /* Tamanho da logo ajustado para 120px */
  object-fit: contain;  /* Ajuste para manter a proporção da imagem */
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;  /* Espaço entre os links */
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1.1em;
}

.nav-links a:hover {
  color: #ff8a30;  /* Cor de hover para os links */
}

/* Responsividade */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 20px 10px; /* Ajustando o padding para telas menores */
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .navbar .logo img {
    width: 100px;  /* Reduzindo o tamanho da logo para telas pequenas */
  }
}
